---
title: Travel
layout: travel-page.njk
description: A collection of travel blog articles of several destinations that Fabian Böller has visited on his world trip in 2021 and 2022.
tags: 
    - navigation
    - flags
date: 2022-02-06
navbar: true
part: travel
---

{% include "_includes/travel-blogs.njk" %}