<style>
    {% include "_includes/author-info.css" %}
</style>

<div class="author-info">
    <div class="portrait">
        {% portrait %}
    </div>
    <div class="name">
        <p class="first">Fabian Böller</p>
        <p class="second">
            Product-minded Fullstack Engineer
        </p>
        <p class="second">
            Writes about software engineering
        </p>
    </div>
    {% include "_includes/code-social-links.njk" %}
</div>