.author-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .author-info {
    gap: 2rem;
  }
}

.author-info .portrait {
  margin-top: auto;
  margin-bottom: auto;
}

.author-info .portrait img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  max-width: 100%;
}

.author-info .name .first {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.author-info .name .second {
  font-size: 0.875em;
  margin-top: 0;
  color: var(--secondary-font-color);
}

@media (min-width: 640px) {
  .author-info .portrait img {
    width: 5rem;
    height: 5rem;
  }
  .author-info .name .first {
    font-size: 1.25em;
  }
  .author-info .name .second {
    font-size: 1em;
  }
}
