---
layout: page.njk
tags: 
  - travel
  - flags
part: travel
excludeFromSitemap: true
---

<style>
  {% include "_includes/post.css" %}
</style>

{% include "_includes/post-navbar.njk" %}

<h1>{{ title }}</h1>
<p class="content-date">{{ timeframe }}</p>
<article>
  {{ description }}
  {{ content | safe }}

  {% if images %}
    {% for imageDir in images | imageDirs %}
      <h2>{{ imageDir | fileName | locationTitle }}</h2>
      {% if locations[imageDir | fileName].hike %}
        <a href="{{ page.url }}locations/{{ imageDir | fileName | url }}" class="location-link">
          <i aria-hidden="true" class="fas fa-hiking"></i>
          Show hike
        </a>
      {% endif %}
      <div class="links">
        {% for imageFile in imageDir | imageFiles %}
          {% image imageFile %}
        {% endfor %}
      </div>
    {% endfor %}

    <h2>Gallery</h2>
    <div class="links">
      {% for imageFile in images | imageFiles %}
        {% image imageFile %}
      {% endfor %}
    </div>
  {% endif %}
</article>

{% include "_includes/gallery.njk" %}