<style>
    {% include "_includes/tag-navigation.css" %}
</style>

<ul class="tag-navigation">
    <li>
        <a href="/"{% if page.url == '/' or page.url == '/code/' %} aria-current="page"{% endif %}>All</a>
    </li>
    <li>
        <a href="/code/node-architecture/"{% if page.url == '/code/node-architecture/' %} aria-current="page"{% endif %}>Node architecture</a>
    </li>
</ul>