<style>
    {% include "_includes/travel-social-links.css" %}
</style>

<div class="social-link-container">
    <a class="social-link" href="https://www.instagram.com/fabianboeller/">
        {% sizedImage "./assets/icons/instagram.png",
        "Instagram Logo" %}
        <span class="sr-only">fabianboeller</span>
    </a>
</div>